.Appart__Grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #F6F6F6;
    box-sizing: border-box;
}


@media screen and (max-width: 1276px) {
    .grid {
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: space-around;
    }
    
}

@media screen and (max-width: 862px) {
    .grid {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 0;
        padding: 0;
    }
    
}