.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #F6F6F6;
}

@media screen and (max-width: 768px) {
    .grid {
        justify-content: center;
        background-color: white;
    }
    
}