* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    min-width: 375px;
    max-width: 1440px;
    margin: 0 auto; 
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.appartement__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: #FF6060;
}

.appartement__content__header {
    display: flex;
}

.appartement__content__title {
    flex-grow: 1;
}

.appartement__content h1 {
    font-size: 36px;
    font-weight: 500;
}

.appartement__content h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
}

.appartement__content__owner {
    margin-left: auto;
}

.appartement__content__owner__detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 64px;
}

.appartement__content__owner__badge {
    display: flex;
}

.appartement__content__owner__badge img {
    display: flex;
    align-items: center;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #C4C4C4;
}

.appartement__content h3 {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 18px;
    font-weight: 500;
    text-wrap: wrap;
}

.appartement__content__tags {
    display: flex;
    font-size: 16px;
    gap: 1rem;
    font-weight: 400;
    text-align: center;
    text-wrap: nowrap;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
}   

.appartement__content__tags span {
    padding: 0.2em 2em;
    background-color: #FF6060;
    border-radius: 20px;
}

.appartement__content__owner__stars {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 2rem;
}

.appartement__content__owner__stars__on {
    color: #FF6060;
}

.appartement__content__owner__stars__off {
    background-color: #C4C4C4;
    background-clip: text;
    color: transparent;
}

.appartement__content__info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 30px;

}

.appartement__content__info__volet {
    display: flex;
    position: relative;
    flex-basis: 50%;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    flex-direction: column;
}

.appartement__content__info__volet h4 {
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 1rem 1rem;
    border-radius: 10px;
    background-color: #FF6060;
}

.appartement__content__info__volet i {
    color: white;
    font-size: 32px;
    padding: 0.5rem 1rem;
}

.appartement__content__info__volet p {
    font-size: 18px;
    z-index: -1;
    font-weight: 400;
    color: black;
    text-align: left;
    padding: 1rem;
    margin-top: -5px;
    border-radius: 20px;
    line-height: 25.65px;
    background-color: #F6F6F673;
}

.appartement__content__info__volet ul {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #F6F6F673;
    line-height: 25.65px;
    margin-left: 20px;
}

.appartement__content__info__data {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    margin-left: -40%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.appartement__content__info__data--visible {
    max-height: 600px;
    transition: max-height 0.3s ease-in;
}

.rotate {
    transition: transform 0.3s ease-out;
  }
  
.rotate-180 {
    transform: rotate(-180deg);
    transition: transform 0.3s ease-out;
  }

@media screen and (max-width: 862px) {

    .appartement__content img {
        max-height: 255px;
        margin-bottom: 10px;
    }

    .appartement__content__header {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .appartement__content__info {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .appartement__content h1 {
        font-size: 18px;
        font-weight: 500;
    }

    .appartement__content h2 {
        font-size: 14px;
        font-weight: 500;
    }

    .appartement__content__tags {
        font-size: 10px;
        font-weight: 700;
        gap: 0.5rem;
    }

    .appartement__content__tags span {
        padding: 0.5em 1em;
        border-radius: 5px;
    }

    .appartement__content__owner {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        gap: 1rem;
        margin-top: 10px;
    }

    .appartement__content__owner__badge img {
        margin-top: 0;
    }

    .appartement__content__owner__stars {
        font-size: 28px;
    }
    
    .appartement__content__info {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        animation: slide-out 0.5s ease-in-out;
    }

    .appartement__content__info__volet {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .appartement__content__info__volet i {
        font-size: 16px;
    }

    .appartement__content__info__volet p {
        font-size: 14px;
    }

    .appartement__content__info__volet ul {
        font-size: 14px;
        font-weight: 400;
    }

    .appartement__content__info__volet h4 {
        font-size: 13px;
        font-weight: 700;
        padding: 0.5rem 1rem;
        border-radius: 10px;
    }
    
    .appartement__content__info__data {
        top: -5px;
        z-index: -1;
    }

}


