.appart {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 1rem;
    min-height: 340px;
    min-width: 340px;
    flex-basis: 25%;
    padding: 1rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(to top,#fe6262,#ff6060 );
}

.appart__title {
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-inline-start: 0.5rem;
    margin-block-end: 0.5rem;
}

@media screen and (max-width: 1300px) {
    .appart {
        flex-basis: 45%;
        padding: 0.5rem;
    }
    
}
@media screen and (max-width: 810px) {
    .appart {
        flex-basis: 100%;
    }
    
}