.appart {
    text-decoration: none;
    position: relative;
}

.appart__card {
    min-height: 200px;
    min-width: 200px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.appart__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    filter: brightness(0.8);
}

.appart__card__title {
    position: absolute;
    left: 5px;
    bottom: 40px;
    width: 50%;
    font-size: 18px;
    z-index: 1;
    font-weight: 700;
    color: white;
    margin-inline-start: 0.5rem;
    margin-block-end: 0.5rem;
    text-align: left;
    text-overflow: ellipsis;
    text-wrap: wrap;
    width: 50%;
}

@media screen and (max-width: 862px) {
    .appart {
        width: 100%;
    }
    
}