* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-width: 375px;
    max-width: 1440px;
    margin: 0 auto; 
    width: 100%;
    box-sizing: border-box;
}

.error__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    max-width: 1440px;
    margin: 0 auto; 
    width: 100%;
    box-sizing: border-box;
}

.error__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.error__content__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 411px;
    font-size: 288px;
    font-weight: 700;
    margin-bottom: 6rem;
    color: #FF6060;
}

.error__content__p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 500;
    color: #FF6060;
    margin-bottom: 6rem;
}

.error__content__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6rem;
}

@media screen and (max-width: 768px) {
    .error__content {
        width: 90%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .error__content__text {
        font-size: 96px;
        font-weight: 700;
        text-align: center;
        margin-bottom: -1rem;
        margin-top: -4rem;
    }

    .error__content__p {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }

    .error__content__link {
        font-size: 14px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
    }
    
}