.navbar {
    display: flex;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 30px;
    box-sizing: border-box;
}

.navbar__logo {
    height: 68px;
    width: 210.32px;
    margin-right: auto;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
    text-wrap: nowrap;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 1rem;
    cursor: pointer;
}

a.active {
    text-decoration: underline;
}

@media screen and (max-width: 862px) {
    .navbar {
        font-size: 12px;
        font-weight: 500;
        padding-right: 3rem;
    }
    
    .navbar__logo {
        height: 50px;
        width: 145px;
    }

    .navbar a {
        text-transform: uppercase;
    }
}